In [17]:
employees = []

employee_1 = {
    "name": "John Mckee",
    "age": 38,
    "department": "Sales"
}
employees.append(employee_1)

employee_2 = {
    "name": "Lisa Crawford",
    "age": 29,
    "department": "Marketing"
}
employees.append(employee_2)

employee_3 = {
    "name": "Sujan Patel",
    "age": 33,
    "department": "HR"
}
employees.append(employee_3)

print('Name:', employees[2]['name'])
print('Age:', employees[2]['age'])
print('Department:', employees[2]['department'])
print('-' * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [18]:
employees = [
    {"name": "John Mckee", "age":38, "department":"Sales"},
    {"name": "Lisa Crawford", "age":29, "department":"Marketing"},
    {"name": "Sujan Patel", "age":33, "department":"HR"}
]
print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [19]:
for employee in employees:
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [20]:
for employee in employees:
    if employee['name'] == 'Sujan Patel':
        print("Name:", employee['name'])
        print("Age:", employee['age'])
        print("Department:", employee['department'])
        print('-' * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------